extends layout

block content
    #row
      .container
        #main-content
          #row
            .col-lg-3.hidden-xs
              ul#side-nav
               each subNav in subNavs 
                li
                  a(href!= subNav.url) #{subNav.SubNavName}
          .col-lg-9
            #row
              #right-content
                #right-content-header
                  p
                    a(href='./') 首页
                    span »
                    a(href= subNavs[SubNavId-1].url) #{subNavs[SubNavId-1].SubNavName}
                #right-content-list
                  ul
                   if(pages==0)
                     p 抱歉，暂时没有文章
                   else
                    each article in articles
                     li
                       - var url='article?id='+article.url+'&NavId='+subNavs[0].NavId+'&SubNavId='+article.SubNavId+'&header='+article.header+'&PostTime='+article.PostTime+'&ReadNum='+article.ReadNum;
                       
                       span.glyphicon.glyphicon-chevron-right(style='color: rgb(255, 140, 60);')
                       a(href= url) #{article.header}
                       span.time
                         span.glyphicon.glyphicon-time(style='color: rgb(255, 140, 60);')
                         | #{article.PostTime}
      
            #row
              #page-box
                ul.pagination
                  - var pPage=PageId-1;
                  - var pUrl='nav?NavId='+NavId+'&SubNavId='+SubNavId+'&PageId='+pPage
                    if(pPage<1)
                      li.disabled 
                        a(href= '#') «
                    else  
                      li
                        a(href= pUrl) «
                  - for (var x = 1; x <= pages; x++)
                     - var url='nav?NavId='+NavId+'&SubNavId='+SubNavId+'&PageId='+x
                     if(x==PageId)
                       li.active
                         a(href= url) #{x}
                     else
                       li
                         a(href= url) #{x}   
                  - var nPage=(PageId-1)+2;       
                  - var nUrl='nav?NavId='+NavId+'&SubNavId='+SubNavId+'&PageId='+nPage
                     if(nPage>pages)         
                       li.disabled
                         a(href= '#') »
                     else
                       li
                         a(href= nUrl) »
