extends layout

block content
    #row
        #myCarousel.carousel.slide
          // 轮播（Carousel）指标
          ol.carousel-indicators
            each pic,i in pics
             if(pic.url)
               if(i==0)
                 li.active(data-target='#myCarousel', data-slide-to= i)
               else
                 li(data-target='#myCarousel', data-slide-to= i)
            
          // 轮播（Carousel）项目
          .carousel-inner
            each pic,i in pics
             -var src=/images/+pic.url+".jpg";
             if(pic.url)
              if(i==0)
               .item.active
                a(href= pic.articleUrl)
                 img(src= src, alt='not found')
              else
               .item
                a(href= pic.articleUrl)
                 img(src= src, alt='not found')

          // 轮播（Carousel）导航
          a.carousel-control.left(href='#myCarousel', data-slide='prev') ‹
          a.carousel-control.right(href='#myCarousel', data-slide='next') ›
      
    #row
      .container
        #main-content
          // 信息栏与二维码
          #row
            .col-lg-10.col-md-10.col-sm-9.col-xs-12
              // 学院简介
              #row
                .col-lg-12
                  .grid
                    h2.grid-head
                      a(href='/nav?NavId=1&SubNavId=1') 学院简介
                    p
                      | 信息管理学院组建于1998年7月，其前身是1988年成立的经济信息管理系。学院名誉院长为中国著名经济学家，中国数量经济学、信息经济学创始人乌家培教授。现任学院领导：院长毛小兵副教授，党委书记邹春发副教授，副院长沈波副教授（分管研究生工作）、副院长杨勇教授（分管科研工作）、副院长万建香副教授（分管教学工作）、副院长曹小英（分管行政工作），党委副书记肖建文。
              // 学院通知
              #row
                // 学院通知
                .col-lg-4
                  .grid
                    h2.grid-head
                      a(href='/nav?NavId=11&SubNavId=1') 学院通知
                    ul
                     each item in xytz
                       - var url='article?id='+item.url+'&NavId=11&SubNavId=1'+'&header='+item.header+'&PostTime='+item.PostTime+'&ReadNum='+item.ReadNum;
                       li
                        a(href= url) #{item.header}
 
                // 教学科研
                .col-lg-4
                  .grid
                    h2.grid-head
                      a(href='/nav?NavId=12&SubNavId=1') 教学科研
                    ul
                     each item in jxky
                      - var url='article?id='+item.url+'&NavId=12&SubNavId=1'+'&header='+item.header+'&PostTime='+item.PostTime+'&ReadNum='+item.ReadNum;
                      li
                        a(href= url) #{item.header}
                .col-lg-4
                  .grid
                    h2.grid-head
                      a(href='/nav?NavId=13&SubNavId=1') 研究生教育
                    ul
                      each item in yjsjy
                        - var url='article?id='+item.url+'&NavId=13&SubNavId=1'+'&header='+item.header+'&PostTime='+item.PostTime+'&ReadNum='+item.ReadNum;
                        li
                         a(href= url) #{item.header}
              // 学生工作
              #row
                // 学院通知
                .col-lg-4
                  .grid
                    h2.grid-head
                      a(href='/nav?NavId=14&SubNavId=1') 学生工作
                    ul
                     each item in xsgz
                      - var url='article?id='+item.url+'&NavId=14&SubNavId=1'+'&header='+item.header+'&PostTime='+item.PostTime+'&ReadNum='+item.ReadNum;
                      li
                        a(href= url) #{item.header}
                // 教学科研
                .col-lg-4
                  .grid
                    h2.grid-head
                      a(href='/nav?NavId=15&SubNavId=1') 学术公告
                    ul
                      each item in xsgg
                       - var url='article?id='+item.url+'&NavId=15&SubNavId=1'+'&header='+item.header+'&PostTime='+item.PostTime+'&ReadNum='+item.ReadNum;
                       li
                        a(href= url) #{item.header}
                .col-lg-4
                  .grid
                    h2.grid-head
                      a(href='/nav?NavId=16&SubNavId=1') 服务专栏
                    ul
                      each item in fwzl
                       - var url='article?id='+item.url+'&NavId=16&SubNavId=1'+'&header='+item.header+'&PostTime='+item.PostTime+'&ReadNum='+item.ReadNum;
                       li
                        a(href= url) #{item.header}
            // 二维码
            .col-lg-2.col-md-2.col-sm-3.hidden-xs
              .right-side-grid
                p 信息管理学院分团委
                .right-side-grid-content
                  img.img-responsive(src='./images/qrcode.jpg')
              .right-side-grid(style='height:140px;')
                p 相关系统
                .right-side-grid-content(style='height:110px;')
                  ul
                    li
                      a(href='http://210.35.205.94/') 计算机等级考试报名入口
                    li
                      a(href='http://sityjsgl.jxufe.cn/Account/Login') 专硕管理系统
                    li
                      a(href='http://sit.jxufe.cn/xxzxweb/') 实验教学中心
                    li
                      a(href='http://icmecg.jxufe.cn:82/') 网络课程考试系统
  